/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-display: sans-serif;
  --spacing: 16px;
}

@layer base {
  body {
    font-family: sans-serif;
    background: #EAEAEA;
  }
  main {
    width: 48rem;
    max-width: calc(100% - 2rem);
    margin: auto;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-medium;
  }
  h4 {
    @apply text-xl font-medium;
  }
  h5 {
    @apply text-lg font-medium;
  }
  .prose li {
    margin: 0 !important;
  }
  .prose ul.contains-task-list {
    padding-inline-start: 0 !important;
  }
  .prose li.task-list-item {
    list-style: none;
  }
  .prose li.task-list-item input{
    margin-right: 8px;
  }
}