---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="flex">
  <div>
    <h1><a href="/">{SITE_TITLE}</a></h1>
  </div>
</header>
<style>
  header {
    width: 48rem;
    max-width: calc(100% - 2rem);
    margin: auto;
    padding: 2rem 0;
  }
</style>
